<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Home</title>
</head>
<style>
    body {
        background-color: aqua;
    }
    .container{
        margin: auto;
        display: flex;
        margin-top: 50vh;
       justify-content: center;
    }

    a {
        margin-left: 20px;
    }

    button{
        border-radius: 20px;
        width: 5rem;
        height: 3rem;
        background-color: rgb(244, 188, 84);
        color: white;
        border: none;
    }
</style>
<body>
    <div class="container">
        <a href="/login"><button>Login</button></a>
        <a href="/register"><button>Register</button></a>
    </div>
    
</body>
</html>